node_modules
.sass-cache
.tmp
.DS_Store
.editorconfig
.yo-rc.json
.idea/
npm-debug.log
.ftpconfig
build
dist
.idea/workspace.xml
.history
.vscode
package-lock.json

#amplify-do-not-edit-begin
amplify/*
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
/dist.zip
/serverless.yml
/src/models/
/exRebate.zip
